<template>
    <button class="flex flex-row justify-center shadow-md text-stone-100 dark:text-stone-100 w-full rounded-md font-semibold py-1 px-2 bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-700">
        <slot></slot>
    </button>
</template>