<template>
	<Teleport to="body">
		<Modal
			:open="showModal"
			:text="message.text"
			:isError="message.isError"
		/>
	</Teleport>
	<main class="layout bg-stone-100 dark:bg-stone-600 text-stone-900 dark:text-stone-100 overflow-y-hidden">
		<div class="flex fixed bottom-4 left-4 z-60">
			<p class="text-stone-700 dark:text-stone-300 text-xs">
				<a class="underline font-semibold hover:no-underline" href="https://gitlab.univ-nantes.fr/E187954Y/fsm-player">Freely accessible on GitLab</a> under the AGPL license version 3
			</p>
		</div>
		<section class="content">
			<v-network-graph :nodes="displayNodes" :edges="displayEdges" :configs="configs">
				<template #override-node-label="{ nodeId, scale, text, x, y, config, textAnchor, dominantBaseline }">
					<text
						v-if="displayNodes[nodeId].isInitial || displayNodes[nodeId].isTerminal"
						x="0"
						:y="-y - 10"
						:font-size="12 * scale"
						text-anchor="middle"
						dominant-baseline="central"
						:fill="isDarkMode ? '#ffffff' : '#000000'"
					>{{ displayNodes[nodeId].isInitial ? 'Initial' : '' }}{{ displayNodes[nodeId].isInitial && displayNodes[nodeId].isTerminal ? ' ' : '' }}{{ displayNodes[nodeId].isTerminal ? 'Terminal' : '' }}</text>
					<text
						:x="x"
						:y="y"
						:font-size="config.fontSize * scale"
						:text-anchor="textAnchor"
						:dominant-baseline="dominantBaseline"
						:fill="config.color"
					>{{ text }}</text>
				</template>
				<template #edge-label="{ edge, ...slotProps }">
					<v-edge-label :text="edge.character" align="center" vertical-align="above" v-bind="slotProps" />
				</template>
			</v-network-graph>
		</section>
		<section class="sidebar bg-stone-200 dark:bg-stone-800 p-8 h-full">
			<div class="flex flex-col h-full overflow-y-scroll">
				<div>
					<div class="mb-8">
						<h1 class="text-center text-3xl font-bold">Finite State Machine</h1>
					</div>
					<div class="mb-6" v-if="transitions.length">
						<div class="bg-stone-300 dark:bg-stone-700 rounded-xl p-4">
							<h2 class="mb-2 text-lg font-semibold text-center">String matcher</h2>
							<form @submit.prevent="stringMatching">
								<div class="flex flex-col gap-2 flex-wrap mb-2">
									<label
										for="string-matching-name"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300"
									>String to match</label>
									<input
										class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										type="text"
										inputmode="text"
										v-model="stringToMatch"
										id="string-matching-name"
										minlength="1"
										placeholder="abc..."
										name="string-matching-name"
										required
									/>
								</div>
								<div class="mb-4">
									<p class="text-xs">⚠️ At this time, the string matcher only works with a deterministic finite automaton.</p>
								</div>
								<div>
									<Button type="submit">
										<span>Match</span>
									</Button>
								</div>
							</form>
						</div>
					</div>
					<div class="mb-6">
						<div class="bg-stone-300 dark:bg-stone-700 rounded-xl p-4">
							<h2 class="mb-2 text-lg font-semibold text-center">State</h2>
							<form @submit.prevent="addNode">
								<div class="flex flex-col mb-4">
									<label
										for="node-name"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300"
									>Name</label>
									<input
										class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										type="text"
										v-model="node.name"
										id="node-name"
										minlength="1"
										placeholder="Name..."
										name="node-name"
										required
									/>
								</div>
								<div class="flex flex-row mb-4 gap-2 items-center">
									<label
										for="node-initial"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300"
									>Is initial state?</label>
									<input
										type="checkbox"
										v-model="node.isInitial"
										class="checkbox rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										id="node-initial"
										name="node-initial"
									/>
								</div>
								<div class="flex flex-row mb-4 gap-2 items-center">
									<label
										for="node-terminal"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300"
									>Is terminal state?</label>
									<input
										type="checkbox"
										v-model="node.isTerminal"
										class="checkbox rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										id="node-terminal"
										name="node-terminal"
									/>
								</div>
								<div>
									<Button type="submit">
										<img src="./assets/plus-light.svg" alt="Plus light icon" />
										<span class="ml-1">Add</span>
									</Button>
								</div>
							</form>
						</div>
					</div>
					<div class="mb-6">
						<div class="bg-stone-300 dark:bg-stone-700 rounded-xl p-4">
							<h2 class="mb-2 text-lg font-semibold text-center">Transition</h2>
							<form @submit.prevent="addTransition">
								<div class="flex flex-col mb-4">
									<label for="transition-name"
										class="mb-1 text-sm text-stone-700 dark:text-stone-300">Character</label>
									<input
										class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300 placeholder-stone-500"
										type="text"
										v-model="transition.character"
										inputmode="text"
										id="transition-name"
										minlength="1"
										placeholder="Character..."
										name="transition-name"
										required />
								</div>
								<div class="flex flex-row gap-x-2 w-full">
									<div class="flex flex-col mb-4 w-1/2">
										<label
											for="transition-input"
											class="mb-1 text-sm text-stone-700 dark:text-stone-300"
										>Input state</label>
										<select
											v-model="transition.input_node"
											name="transition-input"
											id="transition-input"
											class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300"
										>
											<option v-for="node in nodes" :key="node.name" :value="node.name">
												{{ node.name }}
											</option>
										</select>
									</div>
									<div class="flex flex-col mb-4 w-1/2">
										<label
											for="transition-output"
											class="mb-1 text-sm text-stone-700 dark:text-stone-300"
										>Output state</label>
										<select
											v-model="transition.output_node"
											name="transition-output"
											id="transition-output"
											class="rounded-lg text-stone-900 p-2 bg-stone-100 dark:bg-stone-300"
										>
											<option v-for="node in nodes" :key="node.name" :value="node.name">
												{{ node.name }}
											</option>
										</select>
									</div>
								</div>
								<div>
									<Button type="submit">
										<img src="./assets/plus-light.svg" alt="Plus light icon" />
										<span class="ml-1">Add</span>
									</Button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="flex flex-row gap-x-2 justify-between mb-4">
					<button @click="changeTheme">
						<img src="./assets/dark.svg" alt="Dark mode" v-if="isDarkMode" />
						<img src="./assets/light.svg" alt="Light mode" v-else />
					</button>
					<p class="text-stone-400">
						Made with ❤️ by <span class="font-semibold">Ekkaia</span>
					</p>
				</div>
			</div>
		</section>
	</main>
</template>

<script setup lang="ts">
import { onMounted, ref, reactive, computed } from "vue";
import init, { FiniteStateMachineProxy } from "fsm";
import * as vNG from "v-network-graph";
import {
	Node,
	Transition,
	DisplayEdges,
	DisplayNodes,
	messages,
	Report,
	FsmMessage
} from "./services/fsm.interfaces";
import Button from "./components/Button.vue";
import Modal from "./components/Modal.vue";
import "normalize.css";

const nodes = ref<Node[]>([]);
const transitions = ref<Transition[]>([]);
const displayEdges = ref<DisplayEdges>({});
const displayNodes = ref<DisplayNodes>({});

const showModal = ref(false);
const stringToMatch = ref("");
const message = ref<Report>({ text: "", isError: false });

const isDarkMode = ref<boolean | undefined>(undefined);

const configs = reactive(vNG.defineConfigs({
	node: {
		text: "tokens",
		normal: {
			type: (node: any) => node.type,
			color: "#4f46e5",
		},
		hover: {
			color: "#6366f1",
		},
		label: {
			visible: true,
			fontSize: 16,
		}
	},
	edge: {
		normal: {
			color: "#818cf8",
		},
		hover: {
			color: "#a5b4fc",
		},
		marker: {
			target: {
				type: "arrow",
			},
		},
		label: {
			visible: true,
			fontSize: 12,
		},
	},
}));

const node = ref<Node>({
	name: '',
	isInitial: false,
	isTerminal: false,
});

const transition = ref<Transition>({
	character: '',
	output_node: '',
	input_node: '',
});

let finiteStateMachine: FiniteStateMachineProxy;

const themeColor = () => isDarkMode.value ? "#f5f5f4" : "#1c1917";

onMounted(async () => {
	if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
		document.documentElement.classList.add("dark");
		isDarkMode.value = true;
	} else {
		document.documentElement.classList.add("light");
		isDarkMode.value = false;
	}
	configs.node.label.color = themeColor();
	configs.edge.label.color = themeColor();
	await init();
	finiteStateMachine = new FiniteStateMachineProxy();
});

function displayMessage(report: Report) {
	message.value = report;
	showModal.value = true;
	setTimeout(() => showModal.value = false, 2200);
}

function changeTheme(): void {
	document.documentElement.classList.toggle("dark");
	isDarkMode.value = !isDarkMode.value;
	configs.node.label.color = themeColor();
	configs.edge.label.color = themeColor();
}

function addNode(): void {
	const report: FsmMessage = finiteStateMachine.add_node(
		node.value.name,
		node.value.isInitial,
		node.value.isTerminal
	);
	displayMessage(messages[report]);
	nodes.value = finiteStateMachine.nodes;
	displayNodes.value[node.value.name] = {
		name: node.value.name,
		type: "circle",
		isInitial: node.value.isInitial,
		isTerminal: node.value.isTerminal,
	};
	node.value = {
		name: '',
		isInitial: false,
		isTerminal: false,
	};
}

function addTransition(): void {
	const report: FsmMessage = finiteStateMachine.add_transition(
		transition.value.character,
		transition.value.input_node,
		transition.value.output_node,
	);
	displayMessage(messages[report]);
	transitions.value = finiteStateMachine.transitions;
	displayEdges.value[`${transition.value.input_node}${transition.value.output_node}${transition.value.character}`] = {
		source: transition.value.input_node,
		target: transition.value.output_node,
		character: transition.value.character,
	};
	transition.value = {
		character: "",
		input_node: "",
		output_node: "",
	};
}

function stringMatching(): void {
	const report: FsmMessage = finiteStateMachine.string_matching(stringToMatch.value);
	displayMessage(messages[report]);
}
</script>

<style lang="scss">
.dark {
	.layout {
		.sidebar,
		dialog {
			box-shadow: -0.5px 0px 0.6px hsl(0deg 0% 0% / 0.2),
				-1.2px 0px 1.3px -0.6px hsl(0deg 0% 0% / 0.2),
				-2.3px 0px 2.6px -1.2px hsl(0deg 0% 0% / 0.2),
				-4.5px 0px 5.1px -1.9px hsl(0deg 0% 0% / 0.2),
				-8.6px 0.1px 9.7px -2.5px hsl(0deg 0% 0% / 0.2);
		}
	}
}

.checkbox {
	accent-color: #4f46e5;
	height: 1rem;
	width: 1rem;
}

.layout {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;

	.content {
		flex-basis: 0;
		flex-grow: 999;
		min-width: 50%;
		height: 100%;
	}

	.sidebar,
	dialog {
		box-shadow: -0.5px 0px 0.6px hsl(0deg 0% 73% / 0.2),
			-1.2px 0px 1.3px -0.6px hsl(0deg 0% 73% / 0.2),
			-2.3px 0px 2.6px -1.2px hsl(0deg 0% 73% / 0.2),
			-4.5px 0px 5.1px -1.9px hsl(0deg 0% 73% / 0.2),
			-8.6px 0.1px 9.7px -2.5px hsl(0deg 0% 73% / 0.2);
	}

	.sidebar {
		flex-basis: 25rem;
		flex-grow: 1;
		z-index: 998;
		border-radius: 1rem 0 0 1rem;

		.orientation-checkbox {
			display: none;
			visibility: hidden;
		}

		.orientation-checkbox:checked~.orientation-label img {
			transform: rotate(180deg);
			transition: all 0.3s ease-in-out;
		}
	}
}
</style>
